<a href="https://colab.research.google.com/github/JUribe16/PROGCOM-A/blob/main/Clase_2_Estructuras_de_Repetici%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Estructuras de repetición
Permite repetir una o más acciones de acuerdo con una condición (mientras se cumpla la condicion)

#Estructura para - for

1. Cuando se sabe cuántas veces se repite una acción.
2. Esta conformado por una condición inicial (CI) una condición final (CF) y pasos (Frecuencia de de repetición).
3. Esta estructura no se detendrá, hasta alcanzar CF - 1

Estructura general del for


```
for (variable) in range(CI,CF+1,paso):
  se repite cantidad de veces una acción
```
Estructura for como iteración
1. El para (for) itera tantas veces, como elementos tenga la lista
2. La variable toma el valor de cada elemento de la lista por iteración
```
Lista = [1,2,3,4,5]
for (variable) in Lista:
  Se repite len(lista)
```

In [ ]:
#Hacer la tabla de multiplicar de un numero n
n = int(input("Digita un numero: "))

In [ ]:
print(f"Tabla del {n}")
for holitas in range (1,11,1):
    print(f"{n} x {holitas} = {n*holitas}")

Tabla del 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
print(f"Tablas del 1 al 10")
for choripan in range (1, 11):
  print(f"\nTabla del {choripan}")
  for salchichon in range (1, 11):
    print(f"{choripan} x {salchichon} = {choripan*salchichon}")

Tablas del 1 al 10

Tabla del 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Tabla del 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Tabla del 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Tabla del 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Tabla del 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Tabla del 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Tabla del 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Tabla del 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Tabla del 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Tabla del 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
n = 7
print(f"Tablas del {n}")
for choripan in range(n, 11*n,n):
  print(f"{n} x {int(choripan/n)} = {choripan}")

Tablas del 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10]
for num in numeros:
  print(f"{n} x {num} = {n*num}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

##Listas
1. Es un tipo de datos
2. Forma canonica para declarar una lista
3. Todos los elementos de una lista **deben** separarse por comas


```
(variable) = []
```

Ejemplo:
flores=["Ampola", "Tulipan", "Lengua de suegra", dahlia, rosa]

In [ ]:
dahlia=3 #variable de tipo numerica,int
rosa="cinco"#variable tipo alfanumerico, str
flores=["Ampola", "Tulipan", "Lengua de suegra", dahlia, rosa]

4. Manual.



```
Lsita2=[dato1,dato2,dato3...dato4]
```
5. Siempre son finitas
6. Son indexadas


```
Lista2=[dato1,dato2,dato3...datoN]
```

dato1 esta en el index 0
dato2 está ubicado en el index 1

7. Estructuras **para** para la creación de listas


```
# Ejemplo : Crear una lista de 5 elementos  
lista=[]# Para que el programa sepa que es una lista
for loquesea in range(5):
  lista=input("Ingrese el nombre de una flor")
```

In [2]:
# Ejemplo : Crear una lista de 5 elementos
lista=[]# Para que el programa sepa que es una lista
for loquesea in range(5):
  flores=input("Ingrese el nombre de una flor: ")

Ingrese el nombre de una flor: a
Ingrese el nombre de una flor: a
Ingrese el nombre de una flor:
Ingrese el nombre de una flor: a
Ingrese el nombre de una flor: a

In [27]:
lista=[]# Para que el programa sepa que es una lista
for loquesea in range(5):
    lista.append(loquesea)

In [17]:
flores

['Ampola', 'Tulipan', 'Lengua de suegra', 3, 'cinco']

In [18]:
flores.index("Lengua de suegra")

2

In [28]:
lista

[0, 1, 2, 3, 4]

In [29]:
for i in flores:
    print(i)

Ampola
Tulipan
Lengua de suegra
3
cinco

In [33]:
# PUNTO 1.

lista = []
for num in range(10):
  print(num+1)

1
2
3
4
5
6
7
8
9
10

In [35]:
numeros =[1,2,3,4,5,6,7,8,9,10]
for num in numeros:
  print(num)

1
2
3
4
5
6
7
8
9
10

In [34]:
# PUNTO 2.

lista = []
for num in range(100):
  print(num+1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [37]:
numeros =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
for num in numeros:
  print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [47]:
# PUNTO 3.

lista = []
for num in range(1,31):
  if num % 3 == 0:
    print(num)

3
6
9
12
15
18
21
24
27
30

In [48]:
numeros =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30,]
for num in numeros:
  if num % 3 == 0:
    print(num)

3
6
9
12
15
18
21
24
27
30

In [58]:
# PUNTO 4
n = int(input("Digita un numero para ver su tabla de multiplicar: "))

numeros =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in numeros:
  print(f"{n} x {num} = {n*num}")

Digita un numero para ver su tabla de multiplicar: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [59]:
n = int(input("Digita un numero para ver su tabla de multiplicar: "))

for tablita in range(1, 11):
  print(f"{n} x {tablita} = {n*tablita}")

Digita un numero para ver su tabla de multiplicar: 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [76]:
# PUNTO 5
total = 0
for tablita in range(5):
  num = float(input(f"Ingrese el numero {tablita+1}: "))
  total += num

promedio = total / 5
print(f"El promedio de los 5 numeros es: {promedio}")

Ingrese el numero 1: 5
Ingrese el numero 2: 7
Ingrese el numero 3: 5
Ingrese el numero 4: 8
Ingrese el numero 5: 9
El promedio de los 5 numeros es: 6.8

In [75]:
# PUNTO 5
total = 0
tablita =[1, 2, 3, 4, 5]
for tablita in tablita:
  num = float(input(f"Ingrese el numero {tablita}: "))
  total += num

promedio = total / 5
print(f"El promedio de los 5 numeros es: {promedio}")

Ingrese el numero 1: 5
Ingrese el numero 2: 1
Ingrese el numero 3: 2
Ingrese el numero 4: 3
Ingrese el numero 5: 5
El promedio de los 5 numeros es: 3.2